site_name: OI-Note

repo_url: https://github.com/jreeys-man/OI-Note
repo_name: jreeys-man/OI-Note

nav:
  - Getting Started: index.md
  - 杂项: 
    - 杂项部分简介: misc/index.md
    - 表达式计算: misc/expression.md
    - 时间和空间复杂度: misc/time-and-space-complexity.md
  - 题目:
    - 题目部分简介: problem/index.md
    - P1000 回文日期: problem/P1000.md
    - P1001 最大公约数与最小公倍数问题: problem/P1001.md
    - P1002 位数问题: problem/P1002.md

theme:
  name: material
  language: zh
  palette:
    scheme: default
    primary: white
    accent: indigo
  icon:
    repo: fontawesome/brands/github
  features:
    - content.code.copy
    - content.footnote.tooltips

plugins:
  - search
  - git-authors
  - git-revision-date-localized:
      enable_creation_date: true
      type: date

markdown_extensions:
  - admonition
  - footnotes
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true

extra:
  social:
    - icon: fontawesome/brands/github 
      link: https://github.com/jreeys-man/

extra_javascript:
  - javascripts/katex.js
  - https://unpkg.com/katex@0/dist/katex.min.js
  - https://unpkg.com/katex@0/dist/contrib/auto-render.min.js

extra_css:
  - https://unpkg.com/katex@0/dist/katex.min.css